<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:resttest.Delete@2b6faea6]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:resttest.Delete@2b6faea6]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.after()[pri:0, instance:resttest.Delete@2b6faea6]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>220</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:resttest.Delete@2b6faea6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/03/04 16:11:05</td>   <td>-1994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete.allDelete_4()[pri:0, instance:resttest.Delete@2b6faea6]">allDelete_4</td> 
  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:05</td>   <td>-1995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:resttest.Delete@2b6faea6]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:resttest.Delete@2b6faea6]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:07</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.before()[pri:0, instance:resttest.Delete@2b6faea6]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="94f994">  <td>21/03/04 16:11:05</td>   <td>-2030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:resttest.Delete@2b6faea6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/03/04 16:11:07</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete.notExistingId_3()[pri:0, instance:resttest.Delete@2b6faea6]">notExistingId_3</td> 
  <td>main@168366</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/03/04 16:11:07</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete.validDelete_12()[pri:0, instance:resttest.Delete@2b6faea6]">validDelete_12</td> 
  <td>main@168366</td>   <td></td> </tr>
</table>
